unityProject.vrmanifest
link.xml.meta
link.xml
ehthumbs_vista.db
ehthumbs.db
desktop.ini
crashlytics-build.properties
Thumbs.db:encryptable
Thumbs.db
Temporary Items
Network Trash Folder
Desktop.ini

/[Uu]IElementsSchema
/[Rr]ecordings
/[Dd]ocs/output
/[Aa]ssets/SceneDependencyCache*
/[Aa]ssets/StreamingAssets/aa/*
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/**/*xtra*/**
/[Aa]ssets/**/*ocumentation*
/[Aa]ssets/**/*eadme*
/[Aa]ssets/**/*ample*/**
/[Aa]ssets/**/*EADME*

/.vscode/*
!/.vscode/tasks.json
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/extensions.json
!/.vscode/*.code-snippets

###

[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
[Uu]nity/
[Pp]rofileAnalyzer/
[Mm]emoryCaptures/
[Uu]serSettings/
[Ee]xportedObj/

.vs/
.idea/

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.idea
*.apk
*.vsconfig
*.pidb.meta
*.pdb.meta

sysinfo.txt
